<ul class="settings">
  <li><a href="#" id="panel-language-{{i18n.locale}}" {{action "toggleLanguage"}}>{{t "controlPanel.switchLanguage"}}</a></li>
  <li><a href="#" id="panel-expertmode-{{expertMode}}" {{action "toggleExpertMode"}}>{{t "controlPanel.enableExpertMode"}}</a></li>
  <li><a href="#" id="panel-share" {{action "toggleLanguage"}}>{{t "controlPanel.share"}}</a></li>
  <li><a href="#" id="panel-more" {{action "toggleLanguage"}}>{{t "controlPanel.learnMore"}}</a></li>
</ul>
<div id="toggle-panel" {{action "toggleControlPanel"}}>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>