{{#click-outside action=(action "closeControlPanel")}}
  <ul class="settings">
    <li><a href="#" id="panel-language-{{i18n.locale}}" {{action "toggleLanguage"}}><span></span>{{t "controlPanel.switchLanguage"}}</a></li>
    <li><a href="#" id="panel-expertmode-{{expertMode}}" {{action "toggleExpertMode"}}><span></span> {{#if expertMode}} {{t "controlPanel.disableExpertMode"}} {{else}} {{t "controlPanel.enableExpertMode"}} {{/if}}</a></li>
    <li><a href="#" id="panel-darkmode-{{darkMode}}" {{action "toggleDarkMode"}}><span></span> {{#if darkMode}} {{t "controlPanel.disableDarkMode"}} {{else}} {{t "controlPanel.enableDarkMode"}} {{/if}}</a></li>
    <li><a href="#" id="panel-more" href="https://stefankracht.de/p/runverter" target="_blank" >{{t "controlPanel.learnMore"}}</a></li>
    <li class="{{shareButtonsVisibleClass}}">
      <div id="share-container">
        <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=%20https%3A//runverter.io" target="_blank">&nbsp;</a> <a id="twitter" href="https://twitter.com/home?status=%20https%3A//runverter.io%20%23runverter" target="_blank">&nbsp;</a>
      </div>
      <a href="#" id="panel-share" {{action "toggleShareButtons"}}>
        {{#if shareButtonsVisible}}
          {{t "controlPanel.shareThanks"}}
        {{else}}
          {{t "controlPanel.share"}}
        {{/if}}
      </a>
    </li>
    <li><a id="panel-feedback" href="https://twitter.com/stefan_kracht" target="_blank">{{t "controlPanel.feedback"}}</a></li>
    <li><a href="#" id="panel-racedayme" href="https://raceday.me" target="_blank" >{{t "controlPanel.racedayme"}}</a></li>
    <li><a href="#" id="panel-imprint" {{action "openImprintPage"}}>{{t "controlPanel.imprint"}}</a></li>
  </ul>
  <div id="toggle-panel" {{action "toggleControlPanel"}}>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
{{/click-outside}}