<ul class="settings">
  <li><a href="#" {{action "toggleLanguage"}}>{{t "controlPanel.switchLanguage"}}</a></li>
  <li><a href="#" {{action "toggleLanguage"}}>{{t "controlPanel.enableExpertMode"}}</a></li>
  <li><a href="#" {{action "toggleLanguage"}}>{{t "controlPanel.share"}}</a></li>
  <li><a href="#" {{action "toggleLanguage"}}>{{t "controlPanel.learnMore"}}</a></li>
</ul>
<div id="toggle-panel" {{action "toggleControlPanel"}}>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>