<div class="uk-container uk-container-center">
  <div id="close-imprint-page" {{action "closeImprintPage"}}>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="uk-grid {{selectedToolClass}}" data-uk-grid-margin>
    <li class="uk-width-1-1 uk-width-medium-3-6">
      <h2>{{t "imprint.about"}}</h2>
      <p>{{t "imprint.aboutText"}}</p>

      <h2>{{t "imprint.thanks"}}</h2>
      <p>{{t "imprint.thanksText"}}</p>
    </li>

    <li class="uk-width-1-1 uk-width-medium-3-6">
      <h2>{{t "imprint.responsible"}}</h2>
      <p>{{t "imprint.responsibleText"}}</p>
    </li>

    <li class="uk-width-1-1">
      <h2>{{t "imprint.disclaimer"}}</h2>
      <p>{{t "imprint.disclaimerText"}}</p>
    </li>
  </ul>
</div>