{{#if visible}}
  <form class="uk-form">
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-5 tool-label">
        A distance of &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-3-5">
        {{input value=run.lengthKmStackKm min="0" max="999" step="1" type="number"}} {{t "metrics.distance.separator"}} {{input value=run.lengthKmStackDecimalFixed min="0" max="99" step="1" type="number"}} {{t "metrics.distance.km"}}
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-5 tool-label">
        equals a distance of &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-3-5">
        {{input value=run.lengthMiStackMi min="0" max="999" step="1" type="number"}} {{t "metrics.distance.separator"}} {{input value=run.lengthMiStackDecimalFixed min="0" max="99" step="1" type="number"}} {{t "metrics.distance.mi"}}
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-5 tool-label">
        or &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-3-5">
        {{input value=run.lengthMStackM min="0" max="999999" step="1" type="number"}} {{t "metrics.distance.separator"}} {{input value=run.lengthMStackDecimal min="0" max="99" step="1" type="number"}} {{t "metrics.distance.m"}}
      </div>
    </div>
  </form>
{{/if}}
