{{#if visible}}
  <form class="uk-form">
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        A pace of &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{input value=run.paceMinPerKmStackMin min="0" max="99" step="1" type="number"}} : {{input value=run.paceMinPerKmStackSec min="0" max="60" step="1" type="number"}} min/km
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        or &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{input value=run.paceMinPerMiStackMin min="0" max="99" step="1" type="number"}} : {{input value=run.paceMinPerMiStackSec min="0" max="60" step="1" type="number"}} min/m
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        equals a speed of &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{input value=run.speedKmHrStackKm min="0" max="99" step="1" type="number"}} , {{input value=run.speedKmHrStackDecimal min="0" max="99" step="1" type="number"}} km/h
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        or &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{input value=run.speedMiHrStackMi min="0" max="99" step="1" type="number"}} , {{input value=run.speedMiHrStackDecimal min="0" max="99" step="1" type="number"}} mi/h
      </div>
    </div>
  </form>
{{/if}}
