{{#if visible}}
  <form class="uk-form">
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        {{t "tools.pca.distanceLabel"}} &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{#if showRunLengthKm}}<span>{{form-helper/number-input value=run.lengthKmStackKm maxlength="3" class="digits-3"}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.lengthKmStackDecimalFixed maxlength="2" leadingZeros=true class="digits-2"}}</span>{{/if}}
        {{#if showRunLengthMi}}<span>{{form-helper/number-input value=run.lengthMiStackMi maxlength="3" class="digits-3"}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.lengthMiStackDecimalFixed maxlength="2" leadingZeros=true class="digits-2"}}</span>{{/if}}
        {{#x-select value=runLengthMetricsSelected class="runLength"}}
          {{#each runLengthMetrics as |item|}}
            {{#x-option value=item.key}}{{item.label}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        {{t "tools.pca.timeLabel"}} &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{form-helper/number-input value=run.timeStackHr maxlength="2" class="digits-2"}} {{t "metrics.time.hr"}} {{form-helper/number-input value=run.timeStackMinFixed maxlength="2" class="digits-2"}} {{t "metrics.time.min"}} {{form-helper/number-input value=run.timeStackSecFixed maxlength="2" class="digits-2"}} {{t "metrics.time.sec"}}
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse tool-line">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
        {{t "tools.pca.paceLabel"}} &nbsp;
      </div>
      <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
        {{#if showRunTempoMinKm}}{{form-helper/number-input value=run.paceMinPerKmStackMin maxlength="2" class="digits-2"}} {{t "metrics.tempo.separator"}} {{form-helper/number-input value=run.paceMinPerKmStackSec maxlength="2" class="digits-2"}}{{/if}}
        {{#if showRunTempoMinMi}}{{form-helper/number-input value=run.paceMinPerMiStackMin maxlength="2" class="digits-2"}} {{t "metrics.tempo.separator"}} {{form-helper/number-input value=run.paceMinPerMiStackSec maxlength="2" class="digits-2"}}{{/if}}
        {{#if showRunTempoKmH}}{{form-helper/number-input value=run.speedKmHrStackKm maxlength="2" class="digits-2"}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.speedKmHrStackDecimalFixed maxlength="2" leadingZeros=true class="digits-2"}}{{/if}}
        {{#if showRunTempoMiH}}{{form-helper/number-input value=run.speedMiHrStackMi maxlength="2" class="digits-2"}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.speedMiHrStackDecimalFixed maxlength="2" leadingZeros=true class="digits-2"}}{{/if}}
        {{#x-select value=runTempoMetricsSelected class="runTempo"}}
          {{#each runTempoMetrics as |item|}}
            {{#x-option value=item.key}}{{item.label}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
  </form>
{{/if}}
