{{#if visible}}
  <form class="uk-form uk-container-center">
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.achievedDistanceLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{achievedRacePickerVisibleClass}}">
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.achievedTimeLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{achievedTimePickerVisibleClass}}">
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.predictedDistanceLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{predictedRacePickerVisibleClass}}">
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.predictedTimeLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{predictedTimePickerVisibleClass}}">
        {{form-helper/number-input value=run.timeStackHr minLength="1" focus=predictedTimePickerVisible title=tooltipPredictedTimeHr}} {{t "metrics.time.hr"}} {{form-helper/number-input value=run.timeStackMinFixed focus=predictedTimePickerVisible title=tooltipPredictedTimeMin}} {{t "metrics.time.min"}} {{form-helper/number-input value=run.timeStackSecFixed focus=predictedTimePickerVisible title=tooltipPredictedTimeSec}} {{t "metrics.time.sec"}}
        {{form-helper/suggest-select items=predictedTimesSuggestions identifier="predicted-time-race-predictor" action="setPredictedTime" label=(t "targetTimes.label")}}
      </div>
    </div>
  </form>
{{/if}}