{{#if visible}}
  <form class="uk-form uk-container-center">
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.achievedRunLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{achievedRacePickerVisibleClass}}">
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.achievedTimeLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{achievedTimePickerVisibleClass}}">
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.predictedRunLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{predictedRacePickerVisibleClass}}">
      </div>
    </div>
    <div class="uk-grid uk-grid-collapse toolLine">
      <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
        <span>{{t "tools.rp.predictrdTimeLabel"}}</span>
      </div>
      <div class="uk-width-1-1 suggest-select-container {{expertModeClass}} {{predictedTimePickerVisibleClass}}">
      </div>
    </div>
  </form>
{{/if}}