<form class="uk-form uk-container-center">
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.distanceLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} {{racePickerVisibleClass}}">
      {{#if showRunLengthKm}}<span>{{form-helper/number-input value=run.lengthKmStackKm maxLength="3" focus=racePickerVisible title=tooltipLengthKm}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.lengthKmStackDecimalFixed addLeadingZeros=true focus=racePickerVisible title=tooltipLengthKm}}</span>{{/if}}
      {{#if showRunLengthMi}}<span>{{form-helper/number-input value=run.lengthMiStackMi maxLength="3" focus=racePickerVisible title=tooltipLengthMi}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.lengthMiStackDecimalFixed addLeadingZeros=true focus=racePickerVisible title=tooltipLengthMi}}</span>{{/if}}
      {{#x-select value=runLengthMetricsSelected class="runLength"}}
        {{#each runLengthMetrics as |item|}}
          {{#x-option value=item.key}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
      {{form-helper/suggest-select items=races.templates identifier="race-picker-pace-calc" action="setRace" label=(t "races.label")}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.timeLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} {{timePickerVisibleClass}}">
      {{form-helper/number-input value=run.timeStackHr minLength="1" focus=timePickerVisible title=tooltipTimeHr}} {{t "metrics.time.hr"}} {{form-helper/number-input value=run.timeStackMinFixed focus=timePickerVisible title=tooltipTimeMin}} {{t "metrics.time.min"}} {{form-helper/number-input value=run.timeStackSecFixed focus=timePickerVisible title=tooltipTimeSec}} {{t "metrics.time.sec"}}
      {{form-helper/suggest-select items=targetTimesSuggestions identifier="target-time-pace-calc" action="setTargetTime" label=(t "targetTimes.label")}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.splitLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} splits-container">
      {{#x-select value=splitDistancesSelected class="splitDistance"}}
        {{#each splitDistancesAvailable as |item|}}
          {{#x-option value=item}}{{item}}{{/x-option}}
        {{/each}}
      {{/x-select}}

      {{#x-select value=splitMetricsSelected class="splitMetric"}}
        {{#each runLengthMetrics as |item|}}
          {{#x-option value=item.key}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.splitLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} splits-container">
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>Distance</th>
            <th>Time</th>
            <th>Pace in min/Km</th>
          </tr>
        </thead>
        <tbody>
          {{#each run.splits as |splitItem|}}
            <tr>
              <td>{{splitItem.run.lengthKmStackKm}}.{{splitItem.run.lengthKmStackDecimal}} Km<br/>
                {{!-- <div style="width:100%; background:#eaeaea; height:4px; padding-top:1px;">
                  <div style="width:{{splitItem.progressDistance}}%; background:green; height:1px; "> </div>
                  <div style="width:{{splitItem.progressTime}}%; background:blue; height:1px; margin-top:1px;"> </div>
                </div> --}}
              </td>
              <td>{{splitItem.run.timeStackHr}}:{{splitItem.run.timeStackMinFixed}}:{{splitItem.run.timeStackSecFixed}}</td>
              <td>{{splitItem.split.paceMinPerKmStackMin}}:{{splitItem.split.paceMinPerKmStackSec}} min/Km</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>




{{!--   {{#each run.splits as |splitItem|}}
    <div style="width:100%; background:#eaeaea; height:2px; padding-top:0px;">
      <div style="width:{{splitItem.progressDistance}}%; background:green; height:2px; "> </div>
    </div>
  {{/each}}
  <p>&nbsp;</p>
  {{#each run.splits as |splitItem|}}
    <div style="width:100%; background:#eaeaea; height:2px; padding-top:0px;">
      <div style="width:{{splitItem.progressTime}}%; background:blue; height:2px; "> </div>
    </div>
  {{/each}}
  <p>&nbsp;</p>--}}
</form>