<form class="uk-form uk-container-center">
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.distanceLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} {{racePickerVisibleClass}}">
      {{#if showRunLengthKm}}<span>{{form-helper/number-input value=run.lengthKmStackKm maxLength="3" focus=racePickerVisible title=tooltipLengthKm}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.lengthKmStackDecimalFixed addLeadingZeros=true focus=racePickerVisible title=tooltipLengthKm}}</span>{{/if}}
      {{#if showRunLengthMi}}<span>{{form-helper/number-input value=run.lengthMiStackMi maxLength="3" focus=racePickerVisible title=tooltipLengthMi}} {{t "metrics.distance.separator"}} {{form-helper/number-input value=run.lengthMiStackDecimalFixed addLeadingZeros=true focus=racePickerVisible title=tooltipLengthMi}}</span>{{/if}}
      {{#x-select value=runLengthMetricsSelected class="runLength"}}
        {{#each runLengthMetrics as |item|}}
          {{#x-option value=item.key}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
      {{form-helper/suggest-select items=races.templates identifier="race-picker-pace-calc" action="setRace" label=(t "races.label")}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.timeLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} {{timePickerVisibleClass}}">
      {{form-helper/number-input value=run.timeStackHr minLength="1" focus=timePickerVisible title=tooltipTimeHr}} {{t "metrics.time.hr"}} {{form-helper/number-input value=run.timeStackMinFixed focus=timePickerVisible title=tooltipTimeMin}} {{t "metrics.time.min"}} {{form-helper/number-input value=run.timeStackSecFixed focus=timePickerVisible title=tooltipTimeSec}} {{t "metrics.time.sec"}}
      {{form-helper/suggest-select items=targetTimesSuggestions identifier="target-time-pace-calc" action="setTargetTime" label=(t "targetTimes.label")}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.splitDistanceLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}}">
      {{#x-select value=splitDistancesSelected class="splitDistance"}}
        {{#each splitDistancesPossible as |item|}}
          {{#x-option value=item}}{{item}}{{/x-option}}
        {{/each}}
      {{/x-select}}&nbsp;
      {{#x-select value=splitMetricsSelected class="splitMetric"}}
        {{#each runLengthMetrics as |item|}}
          {{#x-option value=item.key}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.splitStrategyLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}}">
      {{#x-select value=splitStrategiesSelected class="splitStrategies"}}
        {{#each splitStrategies as |item|}}
          {{#x-option value=item.key}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse toolLine {{evenSlopeVisibleClass}}">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
      <span>{{t "tools.sc.evenSlopeLabel"}}</span>
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}}">
      {{#x-select value=evenSlopeSelected class="evenSlope"}}
        {{#each evenSlope as |item|}}
          {{#x-option value=item.key}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} splits-container">
      {{ember-chart type='bar' data=chartData options=chartOption height=50}}
    </div>
  </div>

  <div class="uk-grid uk-grid-collapse toolLine">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 toolLabel">
    </div>
    <div class="form-element uk-width-1-1 suggest-select-container {{expertModeClass}} splits-container">
      <table class="uk-table uk-table-striped small_sod">
        <thead>
          <tr>
            <th class="distance">{{t "tools.sc.distanceHeader"}}</th>
            <th class="time">{{t "tools.sc.timeHeader"}}</th>
            <th>
              {{#x-select value=splitTempoMetricsSelected class="splitTempo"}}
                {{#each splitTempoMetrics as |item|}}
                  {{#x-option value=item.key}}{{item.label}}{{/x-option}}
                {{/each}}
              {{/x-select}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each run.splits.splits as |splitItem|}}
            <tr>
              <td>
              {{#if showKmSplits}}
                {{splitItem.run.lengthKmStackKm}}{{t "metrics.distance.separator"}}{{force-digits value=splitItem.run.lengthKmStackDecimal length=2}} {{t "metrics.distance.km"}}
              {{else}}
                {{splitItem.run.lengthMiStackMi}}{{t "metrics.distance.separator"}}{{force-digits value=splitItem.run.lengthMiStackDecimal length=2}} {{t "metrics.distance.mi"}}
              {{/if}}
              </td>
              <td>{{splitItem.run.timeStackHr}}{{t "metrics.time.separator"}}{{splitItem.run.timeStackMinFixed}}{{t "metrics.time.separator"}}{{splitItem.run.timeStackSecFixed}}</td>
              <td>
                {{#if showSplitTempoMinKm}}{{splitItem.split.paceMinPerKmStackMin}}{{t "metrics.tempo.separator"}}{{force-digits value=splitItem.split.paceMinPerKmStackSec length=2}} {{t "metrics.tempo.minkm"}}{{/if}}
                {{#if showSplitTempoMinMi}}{{splitItem.split.paceMinPerMiStackMin}}{{t "metrics.tempo.separator"}}{{force-digits value=splitItem.split.paceMinPerMiStackSec length=2}} {{t "metrics.tempo.minmi"}}{{/if}}
                {{#if showSplitTempoKmH}}{{splitItem.split.speedKmHrStackKm}}{{t "metrics.distance.separator"}}{{splitItem.split.speedKmHrStackDecimalFixed}} {{t "metrics.tempo.kmh"}}{{/if}}
                {{#if showSplitTempoMiH}}{{splitItem.split.speedMiHrStackMi}}{{t "metrics.distance.separator"}}{{splitItem.split.speedMiHrStackDecimalFixed}} {{t "metrics.tempo.mih"}}{{/if}}
              </td>
            </tr>
            <tr class="progress">
              <td colspan="3">
                <div class="distance-progress" style="width:{{splitItem.progressDistance}}%;"> </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</form>