< form class="uk-form">
	<h1>{{t "paceCalculator.headline"}}</h1>
	<div class="uk-form-row">		
		{{input value=model.lengthKmArr.[0] size="2" maxlength="2" type="text"}} , {{input value=model.lengthKmArr.[1] size="2" maxlength="2" type="text"}} km
	</div>
	<div class="uk-form-row">
		{{input value=model.timeStackHr size="2" maxlength="2" type="text"}} : {{input value=model.timeStackMin size="2" maxlength="2" type="text"}} : {{input value=model.timeStackSec size="2" maxlength="2" type="text"}} time
	</div>
	<div class="uk-form-row">
		{{input value=model.paceMinPerKmArr.[0] size="2" maxlength="2" type="text"}} : {{input value=model.paceMinPerKmArr.[1] size="2" maxlength="2" type="text"}} pace
	</div>
	<hr /> 
	<div class="uk-form-row">
		{{input value=model.timeSec type="number"}} timeSec
	</div>
	<div class="uk-form-row">
		{{input value=model.lenghtM type="number"}} lenghtM
	</div>
</form>



timeSec <b>{{model.timeSec}}</b><br />
timeMin <b>{{model.timeMin}}</b><br />
timeHr <b>{{model.timeHr}}</b><br />
timeArr <b>{{model.timeArr}}</b><br />
<br />
lenghtM <b>{{model.lenghtM}}</b><br />
lengthMiles <b>{{model.lengthMiles}}</b><br />
lengthKm <b>{{model.lengthKm}}</b><br />
<br />
paceMinPerKm <b>{{model.paceMinPerKm}}</b><br />
paceMinPerKmArr <b>{{model.paceMinPerKmArr}}</b><br />
paceMinPerMile <b>{{model.paceMinPerMile}}</b><br />
paceMinPerMileArr <b>{{model.paceMinPerMileArr}}</b><br />
<br />
speedKmHr <b>{{model.speedKmHr}}</b><br />
speedKmHrArr <b>{{model.speedKmHrArr}}</b><br />
speedMilesHr <b>{{model.speedMilesHr}}</b><br />
speedMilesHrArr <b>{{model.speedMilesHrArr}}</b><br />