<div class="intro">
  {{tool-selector}}
</div>
{{menuDescription}}
<div class="uk-container uk-container-center">
  {{pace-calculator run=model}}
  {{pace-converter run=model}}
  {{length-converter run=model}}
</div>
