<form class="uk-form">
  <div class="uk-grid uk-grid-collapse tool-line">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
      Running a distance of &nbsp;
    </div>
    <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
      {{#if showRunLengthKm}}<span>{{input value=model.lengthKmStackKm min="0" max="999" step="1" type="number"}} , {{input value=model.lengthKmStackDecimal min="0" max="99" step="1" type="number"}}</span>{{/if}}
      {{#if showRunLengthMi}}<span>{{input value=model.lengthMiStackMi min="0" max="999" step="1" type="number"}} , {{input value=model.lengthMiStackDecimal min="0" max="99" step="1" type="number"}}</span>{{/if}}
      {{#x-select value=runLengthMetricsSelected class="runLength"}}
        {{#each runLengthMetrics as |item|}}
          {{#x-option value=item.id}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse tool-line">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
      in &nbsp;
    </div>
    <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
      {{input value=model.timeStackHr  min="0" max="99" step="1" type="number"}} hr {{input value=model.timeStackMin min="0" max="60" step="1" type="number"}} min {{input value=model.timeStackSec min="0" max="60" step="1" type="number"}} sec
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse tool-line">
    <div class="uk-width-1-1 uk-width-medium-2-6 uk-width-large-2-5 tool-label">
      requires a pace of &nbsp;
    </div>
    <div class="uk-width-1-1 uk-width-medium-4-6 uk-width-large-3-5">
      {{#if showRunTempoMinKm}}{{input value=model.paceMinPerKmStackMin min="0" max="99" step="1" type="number"}} : {{input value=model.paceMinPerKmStackSec min="0" max="99" step="1" type="number"}}{{/if}}
      {{#if showRunTempoMinMi}}{{input value=model.paceMinPerMiStackMin min="0" max="99" step="1" type="number"}} : {{input value=model.paceMinPerMiStackSec min="0" max="99" step="1" type="number"}}{{/if}}
      {{#if showRunTempoKmH}}{{input value=model.speedKmHrStackKm min="0" max="99" step="1" type="number"}} , {{input value=model.speedKmHrStackDecimal min="0" max="99" step="1" type="number"}}{{/if}}
      {{#if showRunTempoMiH}}{{input value=model.speedMiHrStackMi min="0" max="99" step="1" type="number"}} , {{input value=model.speedMiHrStackDecimal min="0" max="99" step="1" type="number"}}{{/if}}
      {{#x-select value=runTempoMetricsSelected class="runTempo"}}
        {{#each runTempoMetrics as |item|}}
          {{#x-option value=item.id}}{{item.label}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
</form>
