<form class="uk-form">
	
	<div class="uk-form-row">		
		{{input value=model.lengthKmStackKm size="2" maxlength="2" type="text"}} , {{input value=model.lengthKmStackDecimal size="2" maxlength="2" type="text"}} km
	</div>
	<div class="uk-form-row">		
		{{input value=model.lengthMiStackMi size="2" maxlength="2" type="text"}} , {{input value=model.lengthMiStackDecimal size="2" maxlength="2" type="text"}} mi
	</div>
	<div class="uk-form-row">
		{{input value=model.timeStackHr size="2" maxlength="2" type="text"}} : {{input value=model.timeStackMin size="2" maxlength="2" type="text"}} : {{input value=model.timeStackSec size="2" maxlength="2" type="text"}} hh:mm:ss
	</div>
	<div class="uk-form-row">
		{{input value=model.paceMinPerKmStackMin size="2" maxlength="2" type="text"}} : {{input value=model.paceMinPerKmStackSec size="2" maxlength="2" type="text"}} min/km
	</div>
	<div class="uk-form-row">
		{{input value=model.paceMinPerMiStackMin size="2" maxlength="2" type="text"}} : {{input value=model.paceMinPerMiStackSec size="2" maxlength="2" type="text"}} min/mi
	</div>
	<div class="uk-form-row">
		{{input value=model.speedKmHrStackKm size="2" maxlength="2" type="text"}} , {{input value=model.speedKmHrStackDecimal size="2" maxlength="2" type="text"}} km/h
	</div>
	<div class="uk-form-row">
		{{input value=model.speedMiHrStackKm size="2" maxlength="2" type="text"}} , {{input value=model.speedMiHrStackDecimal size="2" maxlength="2" type="text"}} mi/h
	</div>
	<hr /> 
	<div class="uk-form-row">
		{{input value=model.timeSec type="number"}} timeSec
	</div>
	<div class="uk-form-row">
		{{input value=model.lenghtM type="number"}} lenghtM
	</div>
</form>



timeSec <b>{{model.timeSec}}</b><br />
timeMin <b>{{model.timeMin}}</b><br />
timeHr <b>{{model.timeHr}}</b><br />
<br />
lenghtM <b>{{model.lenghtM}}</b><br />
lengthMi <b>{{model.lengthMi}}</b><br />
lengthKm <b>{{model.lengthKm}}</b><br />
<br />
paceMinPerKm <b>{{model.paceMinPerKm}}</b><br />
paceMinPerMi <b>{{model.paceMinPerMi}}</b><br />
<br />
speedKmHr <b>{{model.speedKmHr}}</b><br />
speedMiHr <b>{{model.speedMiHr}}</b><br />