<form class="uk-form">
	<div class="uk-form-row">		
		{{input value=model.lengthKmStackKm size="2" maxlength="2" type="text"}} , {{input value=model.lengthKmStackDecimal size="2" maxlength="2" type="text"}} 
		<select class="selectordie">
			<option value="Km">Km</option>
			<option value="Mi">Mi</option>
		</select>			
	</div>
	<div class="uk-form-row">		
		{{input value=model.lengthMiStackMi size="2" maxlength="2" type="text"}} , {{input value=model.lengthMiStackDecimal size="2" maxlength="2" type="text"}} mi
	</div>
	<div class="uk-form-row">
		{{input value=model.timeStackHr size="2" maxlength="2" type="text"}} : {{input value=model.timeStackMin size="2" maxlength="2" type="text"}} : {{input value=model.timeStackSec size="2" maxlength="2" type="text"}} hh:mm:ss
	</div>
	<div class="uk-form-row">
		{{input value=model.paceMinPerKmStackMin size="2" maxlength="2" type="text"}} : {{input value=model.paceMinPerKmStackSec size="2" maxlength="2" type="text"}} min/km
	</div>
	<div class="uk-form-row">
		{{input value=model.paceMinPerMiStackMin size="2" maxlength="2" type="text"}} : {{input value=model.paceMinPerMiStackSec size="2" maxlength="2" type="text"}} min/mi
	</div>
	<div class="uk-form-row">
		{{input value=model.speedKmHrStackKm size="2" maxlength="2" type="text"}} , {{input value=model.speedKmHrStackDecimal size="2" maxlength="2" type="text"}} km/h
	</div>
	<div class="uk-form-row">
		{{input value=model.speedMiHrStackMi size="2" maxlength="2" type="text"}} , {{input value=model.speedMiHrStackDecimal size="2" maxlength="2" type="text"}} mi/h
	</div>
</form>