{{#unless isEmbedded}}
  {{control-panel expertMode=expertMode darkMode=darkMode imprintVisible=imprintVisible}}
{{/unless}}

{{#if displayLogo}}
  <div class="header {{expertModeClass}}">
    {{#link-to "tools.index" (query-params selectedToolKey="pca" imprintVisible=false) }}&nbsp;{{/link-to}}
  </div>
{{/if}}

{{#if displayToolsMenu}}
  <div class="intro {{selectedToolClass}} {{expertModeClass}}">
    {{tool-selector menuItems=tools selectedMenuItem=selectedTool defaultValue=selectedToolKey}}
  </div>
{{/if}}
<div class="tools uk-container uk-container-center {{selectedToolClass}} {{expertModeClass}}">
  {{#if selectedToolPca}}
    {{pace-calculator
      expertMode=expertMode
      run=model.run
      runLengthMetricsSelected=paceCalcLengthMetricsQuery
      runTempoMetricsSelected=paceCalcTempoMetricsQuery}}
  {{/if}}

  {{#if selectedToolPc}}
    {{pace-converter
      expertMode=expertMode
      run=model.run}}
  {{/if}}

  {{#if selectedToolLc}}
    {{length-converter
      expertMode=expertMode
      run=model.run}}
  {{/if}}

  {{#if selectedToolRp}}
    {{race-predictor
      expertMode=expertMode
      run=model.run
      prediction=model.prediction
      settings=model.settings
      achievedRunMetricsSelected=racePredictorAchievedRunLengthMetricsQuery
      predictedRunMetricsSelected=racePredictorPredictedRunLengthMetricsQuery}}
  {{/if}}
  {{#if selectedToolSc}}
    {{splits-calculator
      expertMode=expertMode
      run=model.run
      runLengthMetricsSelected=splitsCalcLengthMetricsQuery
      splitDistancesSelected=splitsCalcDistanceQuery
      splitMetricsSelected=splitsCalcMetricsQuery
      splitStrategiesSelected=splitsCalcStrategyQuery
      evenSlopeSelected=splitsCalcSlopeQuery
      splitTempoMetricsSelected=splitsCalcTempoMetricsSelected
      theme=theme
      }}
  {{/if}}
</div>
{{notification-messages settings=model.settings isEmbedded=isEmbedded selectedMenuItem=selectedTool}}
{{imprint-page expertModeClass=expertModeClass run=model.run visible=imprintVisible}}

{{#unless isEmbedded}}
  <div id="footer">
    <a id="donateButton" class="fa fa-heart uk-text-center" aria-hidden="true" {{action "showDonationMessage"}}></a>
  </div>
{{/unless}}