{{control-panel expertMode=expertMode imprintVisible=imprintVisible}}
<div class="header {{expertModeClass}}">
  {{#link-to "tools.index" (query-params selectedToolKey="pca" imprintVisible=false) }}&nbsp;{{/link-to}}
</div>

<div class="intro {{selectedToolClass}} {{expertModeClass}}">
  {{tool-selector menuItems=tools selectedMenuItem=selectedTool defaultValue=selectedToolKey action="navigateTo"}}
</div>
<div class="tools uk-container uk-container-center {{selectedToolClass}} {{expertModeClass}}">
  {{#if selectedToolPca}}
    {{pace-calculator
      expertMode=expertMode
      run=model.run
      selectedMenuItem=selectedTool
      runLengthMetricsSelected=paceCalcLengthMetricsQuery
      runTempoMetricsSelected=paceCalcTempoMetricsQuery}}
  {{/if}}

  {{#if selectedToolPc}}
    {{pace-converter
      expertMode=expertMode
      run=model.run
      selectedMenuItem=selectedTool}}
  {{/if}}

  {{#if selectedToolLc}}
    {{length-converter
      expertMode=expertMode
      run=model.run
      selectedMenuItem=selectedTool}}
  {{/if}}

  {{#if selectedToolRp}}
    {{race-predictor
      expertMode=expertMode
      run=model.run
      prediction=model.prediction
      settings=model.settings
      selectedMenuItem=selectedTool
      achievedRunMetricsSelected=racePredictorAchievedRunLengthMetricsQuery
      predictedRunMetricsSelected=racePredictorPredictedRunLengthMetricsQuery}}
  {{/if}}
</div>
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
{{imprint-page expertModeClass=expertModeClass run=model.run visible=imprintVisible}}