{{control-panel expertMode=expertMode}}
<div class="header">
  {{#link-to "tools.index" (query-params selectedToolKey="pca") }}&nbsp;{{/link-to}}
</div>

<div class="intro">
  {{tool-selector menuItems=tools selectedMenuItem=selectedTool defaultValue=selectedToolKey action="navigateTo"}}
</div>
<div class="uk-container uk-container-center {{selectedToolClass}}">
  {{runLengthMetricsSelected}}
  {{pace-calculator run=model selectedMenuItem=selectedTool runLengthMetricsSelected=runLengthMetricsQuery runLengthMetricsSelected=runLengthMetricsQuery runTempoMetricsSelected=runTempoMetricsQuery}}
  {{pace-converter run=model selectedMenuItem=selectedTool}}
  {{length-converter run=model selectedMenuItem=selectedTool}}
</div>


{{imprint-page run=model}}